
<!DOCTYPE html>
<html>
<head>
  <title>Jukebox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/home.css">
</head>
<body>

<%- include("../pieces/header"); -%>

<%- include("../pieces/not-mobile"); -%>

<div style="height:calc(100% - 300px); text-align:center;">
  <% if (name) { %>
    <h2 style="margin: auto; padding-top: 50px">Thanks <%= name %>!</h2>
  <% } %>
  <h3 style="margin: auto; padding-top: 50px">You can now close this tab</h3>
</div>

<%- include("../pieces/logo"); -%>

<%- include("../pieces/footer"); -%>

</body>
</html>
